body {
  padding-bottom: 120px;
}

.VirtualKeyboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0px;
  position: fixed;
  width: 100vw;
  background: #333;
  padding: 10px;
  z-index: 10;
  height: 150px;
}

.KBLines, .KBActions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.KBLines {
  flex-grow: 10;
}

.KBLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 33%;
  line-height: 100%;
  width: 100%;
}

.KBLetter,
.KBActions .KBAction {
  border: 1px solid #FFF3;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.KBActions .KBAction {
  height:33%;
}

.KBLetter {
  max-width:10%;
}
